@model IEnumerable<BudgetCalc.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Zarządzanie użytkownikami";
    var currentUserId = UserManager.GetUserId(User);
}

<h2>Lista użytkowników</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Login</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    @if (user.Id != currentUserId) // Ukrywamy przycisk usuwania dla zalogowanego admina
                    {
                        <form asp-action="DeleteUser" asp-controller="Admin" method="post">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" class="btn btn-danger">Usuń użytkownika</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
